#banner {
          border: solid;
          background-color: #A9A9A9;
          font-size: 20px;
          text-decoration: none;
          color: #000000;
          padding: 0;
          text-align: center;
}
a:link, a:visited {
          background-color: #A9A9A9;
          color: #FFFFFF;
          padding: 14px 25px;
          text-align: center;#FFFFFF
          text-decoration: none;
          display: inline-block;
}
a:hover, a:active {
          background-color: #808080;
}
#title {
          font-family: 'Bebas Neue', cursive;
          color: #BA55D3;
          text-align: center;
          font-size: 44px;
}
#info {
          color: #FFFFFF;
}
