#banner {
          border: solid;
          background-color: #A9A9A9;
          font-size: 20px;
          text-decoration: none;
          color: #000000;
          padding: 0;
          text-align: center;
          padding: 0;
          position: sticky;
}
a:link, a:visited {
          background-color: #A9A9A9;
          color: #FFFFFF;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
}
a:hover, a:active {
          background-color: #808080;
}
#title {
          font-family: 'Bebas Neue', cursive;
          color: #BA55D3;
          text-align: center;
          font-size: 44px;
          padding: 0;
}
#info {
          color: #FFFFFF;
          padding: 0;
}
#standings {
          color: #FFFFFF;
}
tr:nth-child(even){
          background-color: #696969;
}
tr:nth-child(odd){
          background-color: #778899;
}
th {
          background-color: #B22222;
}
table, th, td {
          border-collapse: collapse;
          border: 1px solid black;
          border-color: #FFFFFF;
          border-radius: 5px;
}
#rules {
          color: #FFFFFF;
          margin-left: 200px;
          margin-right: 200px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 91px;
  left: 0;
  background-color: #FFFAFA;
  overflow-x: hidden;
}
.sidenav2 {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 91px;
  right: 5px;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

